// Custom style for the Node component.
// -----------------------------------------------------------------------------
.node {
    .img-fluid {
        border: 1px solid #ccc;
        margin: 1.5rem 0;
    }
    .references__field-references {
        display: none;
    }
    .page__body,
    .refererces__body,
    .actions__body {
        img {
            max-width: 100%;
            border: 1px solid #ccc;
            margin: 1.5rem 0;
        }
        ul {
            margin-left: 1.5rem;
        }
        h2,h3,h4,h5 {
            color: #1ABC9C
        }
    }
}
