
.slick-slider {
  margin-bottom: 0 !important;
  overflow: hidden;
}

.gavias-slider {
  width: 100%;
  height: auto;
  position: relative;
  /* Customize css gavias slider */
}
.gavias-slider .swiper-slide {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}
.gavias-slider .slider-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
.gavias-slider .gavias-opacity {
  opacity: 1;
  filter: alpha(opacity=100);
}
.gavias-slider .gavias-slide-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}
.gavias-slider .gavias-slider-image {
  min-width: 100%;
  min-height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  background-position: 50% 0;
  background-size: cover;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  vertical-align: middle;
  z-index: 2;
}
.gavias-slider .swiper-slide {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}
.gavias-slider .swiper-slide .tp-caption {
  margin-top: 100px;
}
.gavias-slider .tp-caption .caption-title {
  font-family: "Nanum Square";
}
.gavias-slider .tp-caption .caption-description {
  font-family: "Noto Sans Korean", serif;
}
.gavias-slider .tp-caption.caption-skin-dark {
  color: #181818;
}
.gavias-slider .tp-caption.caption-skin-dark .caption-inner {
  color: #181818;
}
.gavias-slider .tp-caption.caption-skin-light .caption-inner, .gavias-slider .tp-caption.caption-skin-white .caption-inner {
  color: #fff;
}
.gavias-slider .tp-caption .caption-title, .gavias-slider .tp-caption .caption-description {
  color: #181818;
}
.gavias-slider .tp-caption .caption-title .caption-inner[style*='background-color'], .gavias-slider .tp-caption .caption-description .caption-inner[style*='background-color'] {
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 10px 0;
  padding: 5px 15px;
}
.gavias-slider .tp-caption .caption-title .caption-inner[style*='background-color']:before, .gavias-slider .tp-caption .caption-title .caption-inner[style*='background-color']:after, .gavias-slider .tp-caption .caption-description .caption-inner[style*='background-color']:before, .gavias-slider .tp-caption .caption-description .caption-inner[style*='background-color']:after {
  content: " ";
  display: table;
}
.gavias-slider .tp-caption .caption-title .caption-inner[style*='background-color']:after, .gavias-slider .tp-caption .caption-description .caption-inner[style*='background-color']:after {
  clear: both;
}
.gavias-slider .tp-caption .caption-description .caption-inner[style*='background-color'] {
  margin-bottom: 0 !important;
}
.gavias-slider .swiper-slide.left_top .tp-caption,
.gavias-slider .swiper-slide.center_top .tp-caption,
.gavias-slider .swiper-slide.right_top .tp-caption {
  margin-top: 100px;
}
.gavias-slider .swiper-slide.center_top,
.gavias-slider .swiper-slide.center_center,
.gavias-slider .swiper-slide.center_bottom {
  text-align: center;
}
.gavias-slider .swiper-slide.center_top .tp-caption,
.gavias-slider .swiper-slide.center_center .tp-caption,
.gavias-slider .swiper-slide.center_bottom .tp-caption {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  text-align: center;
  display: block;
}
.gavias-slider .swiper-slide.right_top .tp-caption,
.gavias-slider .swiper-slide.right_center .tp-caption,
.gavias-slider .swiper-slide.right_bottom .tp-caption {
  float: right;
}
.gavias-slider .swiper-wrapper {
  height: auto !important;
}
.gavias-slider .caption-description {
  color: #fff;
  font-size: 18px;
  text-transform: none;
  font-weight: 400;
  padding-bottom: 10px;
}
@media (max-width: 991px) {
  .gavias-slider .caption-description {
    font-size: 16px !important;
  }
}
.gavias-slider .caption-title {
  font-size: 50px;
  color: #fff;
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Nanum Square";
}
@media (max-width: 991px) {
  .gavias-slider .caption-title {
    font-size: 25px !important;
  }
}
.gavias-slider .btn-slide {
  border: 2px solid #fff;
  font-size: 14px;
  text-transform: uppercase;
  backface-visibility: hidden;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
}
@media (max-width: 991px) {
  .gavias-slider .btn-slide {
    padding: 5px 10px;
    font-size: 12px;
  }
}
.gavias-slider .btn-slide.btn-slide-flat {
  background: #EB866A;
  color: #fff;
  border-color: #EB866A;
}
.gavias-slider .btn-slide:hover {
  color: #181818;
  background: #fff;
  border-color: #fff;
}
.gavias-slider .caption-title {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  -ms-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  -o-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
}
.gavias-slider .caption-description {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
  -ms-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
  -o-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
}
.gavias-slider .slider-action {
  margin-top: 15px;
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 1s;
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 1s;
  -ms-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 1s;
  -o-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 1s;
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 1s;
}
.gavias-slider .gavias-default_anim .caption-title,
.gavias-slider .gavias-default_anim .caption-description,
.gavias-slider .gavias-default_anim .slider-action {
  -webkit-transform: translate(0, 70px);
  -moz-transform: translate(0, 70px);
  -ms-transform: translate(0, 70px);
  -o-transform: translate(0, 70px);
  transform: translate(0, 70px);
  ms-transform: translate(0, 70px);
  opacity: 0;
  filter: alpha(opacity=0);
}
.gavias-slider .slick-active .gavias-default_anim .caption-title, .gavias-slider .slick-active .gavias-default_anim .caption-description, .gavias-slider .slick-active .gavias-default_anim .slider-action {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  ms-transform: translate(0, 0);
  opacity: 1;
  filter: alpha(opacity=100);
}
.gavias-slider .gavias-fade-in .caption-title,
.gavias-slider .gavias-slide-top .caption-title,
.gavias-slider .gavias-slide-left .caption-title,
.gavias-slider .gavias-slide-bottom .caption-title,
.gavias-slider .gavias-slide-right .caption-title,
.gavias-slider .gavias-scale-down .caption-title,
.gavias-slider .gavias-fade-in .caption-description,
.gavias-slider .gavias-slide-top .caption-description,
.gavias-slider .gavias-slide-left .caption-description,
.gavias-slider .gavias-slide-bottom .caption-description,
.gavias-slider .gavias-slide-right .caption-description,
.gavias-slider .gavias-scale-down .caption-description,
.gavias-slider .gavias-fade-in .slider-action,
.gavias-slider .gavias-slide-top .slider-action,
.gavias-slider .gavias-slide-left .slider-action,
.gavias-slider .gavias-slide-bottom .slider-action,
.gavias-slider .gavias-slide-right .slider-action,
.gavias-slider .gavias-scale-down .slider-action {
  opacity: 0;
  filter: alpha(opacity=0);
}
.gavias-slider .slick-active .gavias-fade-in .caption-title,
.gavias-slider .slick-active .gavias-fade-in .caption-description,
.gavias-slider .slick-active .gavias-fade-in .slider-action {
  opacity: 1;
  filter: alpha(opacity=100);
}
.gavias-slider .gavias-slide-top .caption-title,
.gavias-slider .gavias-slide-top .caption-description,
.gavias-slider .gavias-slide-top .slider-action {
  -webkit-transform: translate(0, -70%);
  -moz-transform: translate(0, -70%);
  -ms-transform: translate(0, -70%);
  -o-transform: translate(0, -70%);
  transform: translate(0, -70%);
  ms-transform: translate(0, -70%);
}
.gavias-slider .slick-active .gavias-slide-top .caption-title,
.gavias-slider .slick-active .gavias-slide-top .caption-description,
.gavias-slider .slick-active .gavias-slide-top .slider-action {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  ms-transform: translate(0, 0);
  opacity: 1;
  filter: alpha(opacity=100);
}
.gavias-slider .gavias-slide-left .caption-title,
.gavias-slider .gavias-slide-left .caption-description,
.gavias-slider .gavias-slide-left .slider-action {
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  ms-transform: translate(-100%, 0);
}
.gavias-slider .slick-active .gavias-slide-left .caption-title,
.gavias-slider .slick-active .gavias-slide-left .caption-description,
.gavias-slider .slick-active .gavias-slide-left .slider-action {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  ms-transform: translate(0, 0);
  opacity: 1;
  filter: alpha(opacity=100);
}
.gavias-slider .gavias-slide-bottom .caption-title,
.gavias-slider .gavias-slide-bottom .caption-description,
.gavias-slider .gavias-slide-bottom .slider-action {
  -webkit-transform: translate(0, 70%);
  -moz-transform: translate(0, 70%);
  -ms-transform: translate(0, 70%);
  -o-transform: translate(0, 70%);
  transform: translate(0, 70%);
  ms-transform: translate(0, 70%);
}
.gavias-slider .slick-active .gavias-slide-bottom .caption-title,
.gavias-slider .slick-active .gavias-slide-bottom .caption-description,
.gavias-slider .slick-active .gavias-slide-bottom .slider-action {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  ms-transform: translate(0, 0);
  opacity: 1;
  filter: alpha(opacity=100);
}
.gavias-slider .gavias-slide-right .caption-title,
.gavias-slider .gavias-slide-right .caption-description,
.gavias-slider .gavias-slide-right .slider-action {
  -webkit-transform: translate(70%, 0);
  -moz-transform: translate(70%, 0);
  -ms-transform: translate(70%, 0);
  -o-transform: translate(70%, 0);
  transform: translate(70%, 0);
  ms-transform: translate(70%, 0);
}
.gavias-slider .slick-active .gavias-slide-right .caption-title,
.gavias-slider .slick-active .gavias-slide-right .caption-description,
.gavias-slider .slick-active .gavias-slide-right .slider-action {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  ms-transform: translate(0, 0);
  opacity: 1;
  filter: alpha(opacity=100);
}
.gavias-slider .gavias-scale-down .caption-title,
.gavias-slider .gavias-scale-down .caption-description,
.gavias-slider .gavias-scale-down .slider-action {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  ms-transform: scale(1.3);
}
.gavias-slider .slick-active .gavias-scale-down .caption-title,
.gavias-slider .slick-active .gavias-scale-down .caption-description,
.gavias-slider .slick-active .gavias-scale-down .slider-action {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  ms-transform: scale(1);
}
.gavias-slider .gavias-flip-x,
.gavias-slider .gavias-flip-y {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-perspective: 1000;
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
.gavias-slider .slick-active .gavias-flip-x {
  -webkit-animation-name: gavias_flip_x;
  -moz-animation-name: gavias_flip_x;
  -o-animation-name: gavias_flip_x;
  animation-name: gavias_flip_x;
}
.gavias-slider .slick-active .gavias-flip-y {
  -webkit-animation-name: gavias_flip_y;
  -moz-animation-name: gavias_flip_y;
  -o-animation-name: gavias_flip_y;
  animation-name: gavias_flip_y;
}
.gavias-slider .gavias-slider-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #004551;
}
.gavias-slider .gavias-slider-loading .gavias-preloader {
  top: 50%;
}
.gavias-slider .gavias-skip-slider {
  position: absolute;
  display: table;
  left: 50%;
  bottom: 8%;
  cursor: pointer;
  margin: -24px 0 0 -24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  opacity: 0.9;
  filter: alpha(opacity=90);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.gavias-slider .gavias-skip-slider i {
  font-size: 16px;
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.gavias-slider .gavias-skip-slider:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.gavias-slider .gavias-skip-slider:hover i {
  -webkit-transform: translate3d(0, 5%, 0);
  -moz-transform: translate3d(0, 5%, 0);
  -ms-transform: translate3d(0, 5%, 0);
  -o-transform: translate3d(0, 5%, 0);
  transform: translate3d(0, 5%, 0);
  ms-transform: translate3d(0, 5%, 0);
}

/* Flip Horizontally */
@-webkit-keyframes gavias_flip_x {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-moz-keyframes gavias_flip_x {
  0% {
    -moz-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -moz-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-o-keyframes gavias_flip_x {
  0% {
    -o-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -o-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@keyframes gavias_flip_x {
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
/* Flip Vertically */
@-webkit-keyframes gavias_flip_y {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-moz-keyframes gavias_flip_y {
  0% {
    -moz-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -moz-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-o-keyframes gavias_flip_y {
  0% {
    -o-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -o-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@keyframes gavias_flip_y {
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
.gavias-slider {
  position: relative;
}
.gavias-slider .slick-dots {
  position: absolute;
  bottom: 0;
}
.gavias-slider .slick-dots > li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #ccc;
}
.gavias-slider .slick-dots > li button {
  display: none;
}
.gavias-slider .slick-dots > li.slick-active {
  background: #EB866A;
}
.gavias-slider .draggable {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
.gavias-slider .draggable:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.gavias-slider .slick-prev, .gavias-slider .slick-next {
  display: block;
  color: #fff;
  width: 50px;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  margin-top: -20px;
  padding-top: 6px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.gavias-slider .slick-prev:hover, .gavias-slider .slick-next:hover {
  background: #EB866A;
  color: #fff;
}
.gavias-slider .slick-prev i, .gavias-slider .slick-next i {
  font-size: 20px;
  color: #EB866A;
}
.gavias-slider .slick-prev:hover i, .gavias-slider .slick-next:hover i {
  font-size: 20px;
  color: #fff;
}
.gavias-slider .slick-prev:before, .gavias-slider .slick-next:before {
  display: none;
}
.gavias-slider .slick-prev.slick-prev, .gavias-slider .slick-next.slick-prev {
  left: 0;
}
.gavias-slider .slick-prev.slick-next, .gavias-slider .slick-next.slick-next {
  right: 0;
}
.gavias-slider:hover .slick-prev, .gavias-slider:hover .slick-next {
  opacity: 1;
  filter: alpha(opacity=100);
}
.gavias-slider:hover .slick-prev {
  left: 20px;
}
.gavias-slider:hover .slick-next {
  right: 20px;
}
