<div class="jumbotron">
  <h2>한빛누리 공동모금 협약체결</h2>
  <hr class="my-4">
  <p>
    이주민지원공익센터 감사와 동행은 2016년 12월 5일 재단법인 한빛누리와 공동모금사업 협력을 체결하게 되었습니다.<br>
    재단법인 한빛누리는 공익경영 컨설팅, 공동모금 시스템 운영 등 소규모 NPO 단체 지원사업을 하는 비영리 단체입니다.<br>
    그리고 감동과 협력을 체결하게 된 공동모금 사업은, 후원자님들께 독자적으로 기부금 영수증을 발급하고 자동이체 서비스를 관리하는 데에 어려움이 많은 신생 단체 및 소규모 단체를 대신하여 재단법인 한빛누리가 자동이체 서비스 및 기부금 영수증 발급을 집행하여 주는 사업입니다.<br>
    감사와 동행은 투명한 재정 관리와 후원자님들을 위한 세금 공제 혜택 제공을 위해 위와 같은 협력 사업을 체결하게 되었습니다.<br>
    앞으로 감사와 동행은 지속가능한 성장과 탄탄한 자립을 위하여 노력할 것이며, 향후 독자적 모금 시스템 구축을 목표로 열심히 활동하겠습니다.
  </p>
  <ul class="list-unstyled">
    <li>✔ 한빛누리는 CMS 자동이체 서비스 제공과 기부금 영수증 발급을 대신하여 집행할 뿐 감사와 동행의 고유 사업에는 관여하지 않습니다.</li>
    <li>✔ CMS 이용 시 후원금은 '한빛누리공익기금' 명의로 출금되지만, 보내주신 후원금전액은 감사와 동행이 받게 됩니다.</li>
    <li>✔ 기부금 영수증 발급을 원하시면 후원약정서에 주민등록번호 13자리를 전부 기입해 주시기 바랍니다.</li>
  </ul>
</div>





