
<div id="signature-pad" class="js-form-item form-item form-item-signature js-form-item-signature signature-pad">
  <label for="signature">{{ data.title }}</label>
  <input type="hidden" id="edit-signature" name="signature" value="" />
  <div class="signature-pad--body">
    <canvas></canvas>
  </div>
  <div class="signature-pad--footer">
    <div class="description">{{ data.description }}</div>
  </div>
</div>
