{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">
  {% include '@gd9/layout/header.twig' %}
  <main class="pt-5 pb-5">
    {% if page.header %}
      <header class="page__header mb-5">
        <div class="container">
          {{ page.header }}
        </div>
      </header>
    {% endif %}

    {% if page.content %}
      <div class="page__content">
        <div class="container">
          {% if page.sidebar_first %}
            <div class="row">
          {% endif %}
            {% if page.sidebar_first %}
              <div id="sidebar_first" class="col-md-3 mb-3">
                {{ page.sidebar_first }}
              </div>
            {% endif %}
            {% if page.sidebar_first %}
              <div class="col-md-9">
            {% endif %}
              {{ page.content }}
            {% if page.sidebar_first %}
              </div>
            {% endif %}
          {% if page.sidebar_first %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </main>

  {% include '@gd9/layout/footer.twig' %}

  {#
  {% if page.footer %}
    <footer class="page__footer">
      <div class="container">
        <div class="d-flex justify-content-md-between align-items-md-center">
          {{ page.footer }}
        </div>
      </div>
    </footer>
  {% endif %}
  #}
</div>
