<section id="slider" class="slider-element revslider-wrap clearfix">

    <div id="rev_slider_133_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="bubble-morph" data-source="gallery" style="background:transparent;padding:0px;">
    <!-- START REVOLUTION SLIDER 5.4.7.4 fullscreen mode -->
      <div id="rev_slider_133_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.7.4">
        <ul>
          <!-- SLIDE / 노랑빨강 계열의 슬라이드 /디자인 컨셉 확정된 버전 -->
          <li data-index="rs-329" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="/themes/custom/gd9/custom/rs-plugin/demos/assets/images/transparent.png"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
            <!-- MAIN IMAGE -->
            <img src="/themes/custom/gd9/custom/rs-plugin/demos/assets/images/transparent.png" data-bgcolor='#ffffff' style='background:#ffffff' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
            <!-- LAYERS -->
            <div id="rrzm_329" class="rev_row_zone rev_row_zone_middle" style="z-index: 8;">

            <!-- LAYER NR. 33 -->
            <div class="tp-caption  "
               id="slide-329-layer-2"
               data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
               data-y="['middle','middle','middle','middle']" data-voffset="['-426','-426','-426','-426']"
                    data-width="none"
              data-height="none"
              data-whitespace="nowrap"

              data-type="row"
              data-columnbreak="3"
              data-responsive_offset="on"
              data-responsive="off"
              data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
              data-margintop="[0,0,0,0]"
              data-marginright="[0,0,0,0]"
              data-marginbottom="[0,0,0,0]"
              data-marginleft="[0,0,0,0]"
              data-textAlign="['inherit','inherit','inherit','inherit']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[100,75,50,30]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[100,75,50,30]"

              style="z-index: 8; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
            <!-- LAYER NR. 34 -->
            <div class="tp-caption  "
               id="slide-329-layer-3"
               data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
               data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                    data-width="none"
              data-height="none"
              data-whitespace="nowrap"

              data-type="column"
              data-responsive_offset="on"
              data-responsive="off"
              data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
         data-columnwidth="100%"
         data-verticalalign="top"
              data-margintop="[0,0,0,0]"
              data-marginright="[0,0,0,0]"
              data-marginbottom="[0,0,0,0]"
              data-marginleft="[0,0,0,0]"
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"

              style="z-index: 9; width: 100%;">
            <!-- LAYER NR. 35 -->
            <div class="tp-caption  "
               id="slide-329-layer-18"
               data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
               data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
                    data-fontsize="['60','60','40','30']"
              data-lineheight="['100','100','80','70']"
              data-width="['100','100','80','70']"
              data-height="none"
              data-whitespace="normal"

              data-type="text"
              data-responsive_offset="off"
              data-responsive="off"
              data-frames='[{"delay":"+90","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
              data-margintop="[0,0,0,0]"
              data-marginright="[0,0,0,0]"
              data-marginbottom="[0,0,0,0]"
              data-marginleft="[0,0,0,0]"
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"

              style="z-index: 10; min-width: 100px; max-width: 100px; white-space: normal; font-size: 60px; line-height: 100px; font-weight: 400; color: #ffffff; letter-spacing: 0px; display: inline-block;font-family:Lato;background:linear-gradient(180deg, rgba(255,219,79,1) 0%, rgba(255,174,79,1) 35%, rgba(255,42,117,1) 100%);border-radius:50px 50px 50px 50px;"><i class="fa-icon-codepen"></i> </div>

            <!-- LAYER NR. 36 -->
            <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
               id="slide-329-layer-19"
               data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
               data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
                    data-width="full"
              data-height="['30','30','20','10']"
              data-whitespace="normal"

              data-type="shape"
              data-responsive_offset="on"

              data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
              data-margintop="[0,0,0,0]"
              data-marginright="[0,0,0,0]"
              data-marginbottom="[0,0,0,0]"
              data-marginleft="[0,0,0,0]"
              data-textAlign="['inherit','inherit','inherit','inherit']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"

              style="z-index: 19; display: block;"> </div>

            <!-- LAYER NR. 37 -->
            <div class="tp-caption  "
               id="slide-329-layer-1"
               data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
               data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
                    data-fontsize="['46','46','36','30']"
              data-lineheight="['50','50','40','35']"
              data-width="none"
              data-height="none"
              data-whitespace="normal"

              data-type="text"
              data-responsive_offset="off"
              data-responsive="off"
              data-frames='[{"delay":"+190","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
              data-margintop="[0,0,0,0]"
              data-marginright="[0,0,0,0]"
              data-marginbottom="[0,0,0,0]"
              data-marginleft="[0,0,0,0]"
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"

              style="z-index: 11; white-space: normal; font-size: 46px; line-height: 50px; font-weight: 800; color: #000000; letter-spacing: 0px; display: block;font-family:Lato;">이주민공익지원센터 감사와 동행</div>

            <!-- LAYER NR. 38 -->
            <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
               id="slide-329-layer-11"
               data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
               data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
                    data-width="full"
              data-height="10"
              data-whitespace="normal"

              data-type="shape"
              data-responsive_offset="on"

              data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
              data-margintop="[0,0,0,0]"
              data-marginright="[0,0,0,0]"
              data-marginbottom="[0,0,0,0]"
              data-marginleft="[0,0,0,0]"
              data-textAlign="['inherit','inherit','inherit','inherit']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"

              style="z-index: 16; display: block;"> </div>

            <!-- LAYER NR. 39 -->
            <div class="tp-caption    bm-gradient"
               id="slide-329-layer-5"
               data-x="['left','left','left','left']" data-hoffset="['5','5','5','5']"
               data-y="['top','top','top','top']" data-voffset="['5','5','5','5']"
                    data-fontsize="['30','30','25','20']"
              data-lineheight="['35','35','30','25']"
              data-width="none"
              data-height="none"
              data-whitespace="normal"

              data-type="text"
              data-responsive_offset="off"
              data-responsive="off"
              data-frames='[{"delay":"+290","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
              data-margintop="[0,0,0,0]"
              data-marginright="[0,0,0,0]"
              data-marginbottom="[0,0,0,0]"
              data-marginleft="[0,0,0,0]"
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"

              style="z-index: 12; white-space: normal; font-size: 30px; line-height: 35px; font-weight: 700; color: #000000; letter-spacing: 0px; display: inline-block;font-family:Lato;">차별 없는 사회를 향한 발걸음에 동행해 주세요.</div>

            <!-- LAYER NR. 40 -->
            <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
               id="slide-329-layer-13"
               data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
               data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
                    data-width="full"
              data-height="['30','30','30','20']"
              data-whitespace="normal"

              data-type="shape"
              data-responsive_offset="on"

              data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
              data-margintop="[0,0,0,0]"
              data-marginright="[0,0,0,0]"
              data-marginbottom="[0,0,0,0]"
              data-marginleft="[0,0,0,0]"
              data-textAlign="['inherit','inherit','inherit','inherit']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"

              style="z-index: 17; display: block;"> </div>

            <!-- LAYER NR. 41 -->
            <div class="tp-caption  "
               id="slide-329-layer-6"
               data-x="['left','left','left','left']" data-hoffset="['10','10','10','10']"
               data-y="['top','top','top','top']" data-voffset="['10','10','10','10']"
                    data-fontsize="['16','16','16','14']"
              data-lineheight="['30','30','30','22']"
              data-width="['640','480','360','100%']"
              data-height="none"
              data-whitespace="normal"

              data-type="text"
              data-responsive_offset="off"
              data-responsive="off"
              data-frames='[{"delay":"+390","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
              data-margintop="[0,0,0,0]"
              data-marginright="[0,0,0,0]"
              data-marginbottom="[0,0,0,0]"
              data-marginleft="[0,0,0,0]"
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"

              style="z-index: 13; min-width: 640px; max-width: 640px; white-space: normal; font-size: 16px; line-height: 30px; font-weight: 400; color: rgba(0,0,0,0.75); letter-spacing: 0px; display: inline-block;font-family:PT Serif;">감사와 동행은 정부, 지자체의 지원 없이<br/>오로지 시민 여러분의 후원으로 운영되는 비영리 단체 입니다. 차별 없는 사회를 만들기 위한 감사와 동행의 발걸음에 동참해 주세요. </div>

            <!-- LAYER NR. 42 -->
            <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
               id="slide-329-layer-14"
               data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
               data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
                    data-width="full"
              data-height="['50','50','50','30']"
              data-whitespace="normal"

              data-type="shape"
              data-responsive_offset="on"

              data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
              data-margintop="[0,0,0,0]"
              data-marginright="[0,0,0,0]"
              data-marginbottom="[0,0,0,0]"
              data-marginleft="[0,0,0,0]"
              data-textAlign="['inherit','inherit','inherit','inherit']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"

              style="z-index: 18; display: block;"> </div>

            <!-- LAYER NR. 43 -->
            <a class="tp-caption rev-btn "
         href="#" target="_blank"      id="slide-329-layer-9"
               data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
               data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
                    data-fontsize="['14','14','13','13']"
              data-lineheight="['60','60','50','40']"
              data-width="['280','280','250','250']"
              data-height="none"
              data-whitespace="normal"

              data-type="button"
              data-actions=''
              data-responsive_offset="off"
              data-responsive="off"
              data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgb(255,42,115);bg:rgb(255,255,255);"}]'
              data-margintop="[0,0,0,0]"
              data-marginright="[10,10,10,10]"
              data-marginbottom="[10,10,10,10]"
              data-marginleft="[10,10,10,10]"
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"

              style="z-index: 14; min-width: 280px; max-width: 280px; white-space: normal; font-size: 14px; line-height: 60px; font-weight: 700; color: #ffffff; letter-spacing: 2px; display: inline-block;font-family:Lato;background-color:rgb(255,42,115);border-color:rgb(255,42,115);border-style:solid;border-width:1px 1px 1px 1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;"><i class="fa-icon-gift" style="font-size:20px;"></i> 감사와동행 소개 </a>

            <!-- LAYER NR. 44 -->
            <a class="tp-caption rev-btn "
         href="#" target="_blank"      id="slide-329-layer-17"
               data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
               data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
                    data-fontsize="['14','14','13','13']"
              data-lineheight="['60','60','50','40']"
              data-width="['280','280','250','250']"
              data-height="none"
              data-whitespace="normal"

              data-type="button"
              data-actions=''
              data-responsive_offset="off"
              data-responsive="off"
              data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgb(255,42,115);bg:rgb(255,255,255);"}]'
              data-margintop="[0,0,0,0]"
              data-marginright="[10,10,10,10]"
              data-marginbottom="[10,10,10,10]"
              data-marginleft="[10,10,10,10]"
              data-textAlign="['center','center','center','center']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"

              style="z-index: 15; min-width: 280px; max-width: 280px; white-space: normal; font-size: 14px; line-height: 60px; font-weight: 700; color: #ffffff; letter-spacing: 2px; display: inline-block;font-family:Lato;background-color:rgb(255,42,115);border-color:rgb(255,42,115);border-style:solid;border-width:1px 1px 1px 1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;"><i class="fa-icon-shopping-cart" style="font-size:20px;"></i> 후원하기 </a>
                </div>
              </div>
            </div>

            <!-- LAYER NR. 45 -->
            <div class="tp-caption tp-shape tp-shapewrapper tp-bubblemorph "
               id="slide-329-layer-21"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                    data-width="100%"
              data-height="100%"
              data-whitespace="nowrap"

              data-type="shape"
              data-bubblesbg="transparent"
              data-numbubbles="6|6|inherit|6"
              data-bubblesbufferx="100|50|inherit|20"
              data-bubblesbuffery="100|50|inherit|20"
              data-bubblesspeedx="0.25|0.25|0.25|0.25"
              data-bubblesspeedy="0.25|0.25|0.25|0.25"
              data-bubblesbordercolor="#ffdb4f|inherit|inherit|inherit"
              data-bubblesbordersize="1|inherit|inherit|inherit"
              data-basealign="slide"
              data-responsive_offset="on"

              data-frames='[{"delay":100,"speed":3000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
              data-textAlign="['inherit','inherit','inherit','inherit']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              data-blendmode="multiply"

              style="z-index: 5;"> </div>

            <!-- LAYER NR. 46 -->
            <div class="tp-caption  tp-no-events tp-shape tp-shapewrapper tp-bubblemorph "
               id="slide-329-layer-16"
               data-x="['center','center','center','center']" data-hoffset="['650','450','200','100']"
               data-y="['middle','middle','bottom','bottom']" data-voffset="['150','150','0','0']"
                    data-width="['600','400','500','300']"
              data-height="['600','450','300','200']"
              data-whitespace="nowrap"

              data-type="shape"
              data-bubblesbg="{&type&:&linear&,&angle&:&180&,&colors&:[{&r&:255,&g&:219,&b&:79,&a&:&1&,&position&:0,&align&:&top&},{&r&:255,&g&:219,&b&:79,&a&:&1&,&position&:0,&align&:&bottom&},{&r&:255,&g&:174,&b&:79,&a&:&1&,&position&:35,&align&:&bottom&},{&r&:255,&g&:42,&b&:117,&a&:&1&,&position&:100,&align&:&bottom&},{&r&:255,&g&:42,&b&:117,&a&:&1&,&position&:100,&align&:&top&}]}"
              data-numbubbles="6|6|inherit|6"
              data-bubblesbufferx="100|50|inherit|20"
              data-bubblesbuffery="100|50|inherit|20"
              data-bubblesspeedx="0.25|0.25|0.25|0.25"
              data-bubblesspeedy="0.25|0.25|0.25|0.25"
              data-basealign="slide"
              data-responsive_offset="off"
              data-responsive="off"
              data-frames='[{"delay":1000,"speed":3000,"frame":"0","from":"opacity:0;fb:30px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
              data-textAlign="['inherit','inherit','inherit','inherit']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"

              style="z-index: 6;background:linear-gradient(180deg, rgba(255,219,79,1) 0%, rgba(255,174,79,1) 35%, rgba(255,42,117,1) 100%);pointer-events:none;"> </div>

            <!-- LAYER NR. 47 -->
            <div class="tp-caption  tp-no-events tp-shape tp-shapewrapper tp-bubblemorph "
               id="slide-329-layer-10"
               data-x="['center','center','center','center']" data-hoffset="['600','400','-200','-100']"
               data-y="['middle','middle','bottom','bottom']" data-voffset="['-150','-150','0','0']"
                    data-width="['600','400','500','300']"
              data-height="['600','450','300','200']"
              data-whitespace="nowrap"

              data-type="shape"
              data-bubblesbg="{&type&:&linear&,&angle&:&180&,&colors&:[{&r&:255,&g&:255,&b&:0,&a&:&1&,&position&:0,&align&:&top&},{&r&:255,&g&:255,&b&:0,&a&:&1&,&position&:0,&align&:&bottom&},{&r&:255,&g&:219,&b&:79,&a&:&1&,&position&:100,&align&:&bottom&},{&r&:255,&g&:219,&b&:79,&a&:&1&,&position&:100,&align&:&top&}]}"
              data-numbubbles="6|6|inherit|6"
              data-bubblesbufferx="100|50|inherit|20"
              data-bubblesbuffery="100|50|inherit|20"
              data-bubblesspeedx="0.25|0.25|0.25|0.25"
              data-bubblesspeedy="0.25|0.25|0.25|0.25"
              data-basealign="slide"
              data-responsive_offset="off"
              data-responsive="off"
              data-frames='[{"delay":1500,"speed":3000,"frame":"0","from":"opacity:0;fb:30px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
              data-textAlign="['inherit','inherit','inherit','inherit']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              data-blendmode="multiply"

              style="z-index: 7;background:linear-gradient(180deg, rgba(255,255,0,1) 0%, rgba(255,219,79,1) 100%);pointer-events:none;"> </div>
          </li>
        </ul>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
      </div>
    </div><!-- END REVOLUTION SLIDER -->

  </section>