<div class="mega-menu-content style-2 clearfix" style="width: 95%; display:none;">
  <ul class="mega-menu-column col-5">
    <li class="mega-menu-title">
      <a href="/about"><div>감사와 동행</div></a>
      <ul>
        <li><a href="/about"><div>감동은?</div></a></li>
        <li><a href="/main-actions"><div>주요활동</div></a></li>
        <li><a href="/contact"><div>찾아오시는 길</div></a></li>
        <li><a href="/people"><div>함께하는 사람들</div></a></li>
      </ul>
    </li>
  </ul>
  <ul class="mega-menu-column col-5">
    <li class="mega-menu-title">
      <a href="/notices"><div>공지사항</div></a>
      <ul>
        <li><a href="/notices"><div>공지사항</div></a></li>
      </ul>
    </li>
  </ul>
  <ul class="mega-menu-column col-5">
    <li class="mega-menu-title">
      <a href="/actions"><div>활동</div></a>
      <ul>
        <li><a href="/actions"><div>전체</div></a></li>
        <li><a href="/actions/legal-support"><div>법률지원</div></a></li>
        <li><a href="/actions/research"><div>제도개선</div></a></li>
        <li><a href="/actions/campaign"><div>공익법 활동</div></a></li>
      </ul>
    </li>
  </ul>
  <ul class="mega-menu-column col-5">
    <li class="mega-menu-title">
      <a href="/references"><div>자료실</div></a>
      <ul>
        <li><a href="/references/annual-report"><div>연간보고서</div></a></li>
        <li><a href="/references/action-report"><div>활동자료</div></a></li>
        <li><a href="/references/others"><div>자료모음</div></a></li>
      </ul>
    </li>
  </ul>
  <ul class="mega-menu-column col-5">
    <li class="mega-menu-title">
      <a href="/donate"><div>후원</div></a>
      <ul>
        <li><a href="/donate"><div>후원 안내·신청</div></a></li>
      </ul>
    </li>
  </ul>
</div>
