@media print {
    #donation-detail h1.d-none {
        display: block;
    }
    #donation-detail h1 {
        font-size: 1.6rem;
    }
    #donation-detail h1.title {
        font-size: 1.2rem;
    }
    #donation-detail span.badge-danger {
        font-size: 1rem;
        color: red;
    }
    #donation-detail span.badge-danger:before {
        content: '[ ';
    }
    #donation-detail span.badge-danger:after {
        content: ' ]';
    }
    #donation-detail button {
        display: none;
    }

    #donation-detail table {
        max-width: 100%;
        border-collapse: collapse;
        border: 1px solid #ccc;
        table-layout: fixed;
    }

    .donation-label { width: 20%; }
    .donation-value { width: 80%; }

    #donation-detail td {
        border: 1px solid #ccc;
        padding: .5rem;
    }
    #donation-detail .text-small {
        font-size: .8rem;
    }
    #donation-detail span.agreed {
        color: green;
    }
}